<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/favicon.ico" rel="icon">
    <script src="https://kit.fontawesome.com/6a8f3b60a2.js" crossorigin="anonymous"></script>
    <link href="/static/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200&family=Quicksand:wght@500&display=swap"
        rel="stylesheet">
    <title>{% block title %}Crescendo{% endblock %}</title>
    {% block custom_css %}
    {% endblock %}

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-custom navbar-dark">
        <div class="container-fluid">
            <!-- Logo/Brand -->
            <a class="navbar-brand" style="margin-left: 15px;" href="/">
                <span style="color: #FFFFFF;">C</span>
                <span style="color: #F2D1C9;">R</span>
                <span style="color: #E086D3;">E</span>
                <span style="color: #8332AC;">S</span>
                <span style="color: #FFFFFF;">C</span>
                <span style="color: #BAD1CD;">E</span>
                <span style="color: #F2D1C9;">N</span>
                <span style="color: #E086D3;">D</span>
                <span style="color: #8332AC;">O</span>
            </a>
            <!-- Toggler for Mobile -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar Links -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if session.user_id %}
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="{{ url_for('gallery') }}">Gallery</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                    </li>
                    <li class="nav-item custom-nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                    </li>
                    {% endif %}
                </ul>
            </div>            
        </div>
    </nav>

    <main class="container py-5 text-center">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Other common scripts can be placed here -->
</body>

</html>